:root {
    --brand-color: #2E2F42;
    --brands-color: #4d5ae5;
    --text-color: #434455;
    --white-color: #fff;
    --hover-color: #404BBF;
    --card-color: #F4F4FD;
    --gap-size: 24px;
}
/* RESET */
h1,h2,h3,h4,h5,h6,p{margin: 0}
.list {
    list-style: none;
    padding: 0;
    margin: 0;
}
img{ display: block;}
/* Body */
.body{ color: var(--text-color);
font-family: 'Roboto', sans-serif;
background-color: var(--white-color);

}
.link{text-decoration: none;}


/* Container */
.container{ width: 1158px;
margin-left: auto;
margin-right: auto;
padding: 0 15px;
}

/* Header */
.header{
    border-bottom: 1px solid #e7e9fc
}
.header-container{ display: flex;
align-items: center;
}
.logo.link{ 
font-family: "Raleway", sans-serif;
font-weight: 800;
line-height: 1.17;
font-size: 18px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--brands-color);
text-decoration: none;
margin-right: 76px;
}
.logo-span{color: var(--brand-color)}

 /* navigation */

.nav{ display: flex;
align-items: center;}
.nav-list{display: flex;
gap: 40px;
align-items: center;
}

.nav-link{color: var(--brand-color);
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-decoration: none;
display: block;
padding-top: 24px;
padding-bottom: 24px;}
.nav-link:hover, 
.nav-link:focus{color: var(--hover-color); }

/* address */

.address{font-style: normal;
    margin-left: auto;
}
 .add-list{display: flex;
    align-items: center;
    gap: 40px;
;}

.add.link{
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--text-color);
        text-decoration: none;
        display: block;
            padding-top: 24px;
            padding-bottom: 24px;
}
.add.link:hover,
.add.link:focus {color: var(--hover-color);}

/* Poster */
.poster{background-color: var(--brand-color);
    padding-bottom: 188px;
    padding-top: 188px;
}

.title-post{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white-color);
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
    
   }
    /* BTN */
    .btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    background-color: var(--brands-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-color);
    cursor: pointer;
    border: none
}
    .btn:hover,
    .btn:focus{background-color: var(--hover-color)}
    /* Information */
    .info{
padding: 120px 0;
    }
    .info-container{
        display: flex;
        display: flex;
        gap: 24px;
     
    }
    .info-punct{ 
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--brand-color);
         margin-bottom: 8px;}
    .info-list{
        flex-basis: calc((100%)/4);
    }
    .text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);}
    
    /* Projects */
.projects{
    padding: 0 0 120px 0;
}
    .htitle{
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--brand-color);
        text-align: center;
        margin-bottom: 72px;}

    .pro-container{
            display: flex;
            gap: 24px;
        }


    
    
        /* Card  */
        .info-card {
            background-color: var(--card-color);
            padding-bottom: 120px;
            padding-top: 120px;
        }
        .card-container{
           display: flex;
           gap: 24px;
        }
        .contact.info-punct{
            text-align: center;
            margin-bottom: 8px
        }
        .contact.text{
            text-align: center;
        }
        .list-card{ background-color: var(--white-color);
         }
         .card{
            padding: 32px 16px;
            border-radius: 0px 0px 4px 4px;

         }
        
        


        
        
/* footer */
 .footer{background-color: var(--brand-color);
padding: 100px 0;}
.text-end{
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: var(--card-color);
            max-width: 264px;
}
.foot.logo.link{color: var(--brands-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 16px;
    margin-right: 0px;
    display: inline-block;
}
.logo.link>.link-span {
    color: var(--card-color);
    font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
      
}





/* Portfolio BTN */
.list-btn{font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--brands-color);
    background: var(--card-color);
    cursor: pointer;
    padding: 12px 24px;
    flex-basis: calc(100%/5);
    
    border: 1px solid #e7e9fc;
    border-radius: 4px;
}
    .btn-container{
        display: flex;
        margin-bottom: 72px;
            align-items: center;
            justify-content: center;
            gap: var(--gap-size)
    }
    .list-btn:hover,
    .list-btn:focus{background: var(--hover-color);
         color: var(--white-color);
        border: 1px solid transparent}


/* Section PRt */
.prf.section{
    padding-top: 96px;
    padding-bottom: 120px;
}




/* Portfolio Photolist */


.photo-container{
    display: flex;
    flex-wrap: wrap;
    column-gap: var(--gap-size);
    row-gap: 48px;
}
.photo.list-card{
    width: calc((100% - 48px)/3);
}
.title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--brand-color);
    margin-bottom: 8px;
}
.photo-wrap{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}


