:root {
    --brand-color: #2E2F42;
    --brands-color: #4d5ae5;
    --text-color: #434455;
    --white-color: #fff;
    --hover-color: #404BBF;
    --card-color: #F4F4FD;
}
/* Body */
.body{ color: var(--text-color);
font-family: 'Roboto', sans-serif;
background-color: var(--white-color);
}
.link{text-decoration: none;}
/* Header */
.nav>.logo.link{ 
font-family: "Raleway", sans-serif;
font-weight: 800;
line-height: 1.17;
font-size: 18px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--brands-color);
text-decoration: none;}
.logo-span{color: var(--brand-color)}
 /* navigation */
.list{list-style: none;}
.nav-link{color: var(--brand-color);
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-decoration: none;}
.nav-link:hover, 
.nav-link:focus{color: var(--hover-color); }
/* address */
.address{font-style: normal}
.add.link{
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--text-color);
        text-decoration: none;
        
}
.add.link:hover,
.add.link:focus {color: var(--hover-color);}
/* Poster */
.poster{background-color: var(--brand-color);}
.title-post{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white-color);}
    /* BTN */
    .btn{background-color: var(--brands-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-color);
    cursor: pointer;}
    .btn:hover,
    .btn:focus{background-color: var(--hover-color)}
    /* Information */
    .info-punct{ 
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--brand-color);}
    .text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);}
    
    /* Projects */
    .htitle{
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--brand-color);
    text-align: center;}
    .title{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--brand-color);}
    /* Card  */
        .info-card {
            background-color: var(--card-color);
        }
        .list-card{ background-color: var(--white-color);}
        /* footer */
        .footer{background-color: var(--brand-color);}
        .text-end{
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: var(--card-color);}
.footer>.logo.link{color: var(--brands-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;}
.footer>.logo.link>.link-span {
    color: var(--card-color);
    font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}
/* Portfolio BTN */
.list-btn{font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--brands-color);
    background: var(--card-color);
    cursor: pointer;}
    .list-btn:hover,
    .list-btn:focus{background: var(--hover-color); color: var(--white-color);}



    